{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h4>Render at: {{ current_time | datetimefilter }}</h4>
  <br>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Build Status</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <th>{{project.name}}</th>
      <td><img id="{{project.name}}" src="{{project.badge_url}}"></td>
    </tr>
    {% endfor %}
  <tbody>
</table>

  <br>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}
